.header
  グループを作成しました
.contents
  .left-contents
    .left-contents__header
      .left-contents__header__user-name
        test-user
      =link_to "", class: "left-contents__header__left-icon" do
        = fa_icon "edit"
      =link_to "", class: "left-contents__header__right-icon" do
        = fa_icon "cog"
    .message
      = render @messages
  .right-contents
    .right-contents__header
      .right-contents__header__text
        .right-contents__header__text__group-name
          test-group
        .right-contents__header__text__members-name
          Member : test-user
      .right-contents__header__btn
        Edit
    .right-contents__message
      .right-contents__message__title
        .right-contents__message__title__name
          test-user
        .right-contents__message__title__time
          2019/7/3(wed) 14:31:53
      .right-contents__message__text
        こんにちは！
    .right-contents__message
      .right-contents__message__title
        .right-contents__message__title__name
          test-user
        .right-contents__message__title__time
          2019/7/3(wed) 14:31:53
      .right-contents__message__text
        さようなら
    .right-contents__footer
      .right-contents__footer__box
        .form
          = form_for [@group, @message] do |f|
            = f.text_field :content, class: 'form__message', placeholder: 'type a message'
            .form__mask
              = f.label :image, class: 'form__mask__image' do
                = fa_icon 'picture-o', class: 'icon'
                = f.file_field :image, class: 'hidden'
            = f.submit 'Send', class: 'form__submit'
      .right-contents__footer__btn
        Send